#timesec{
    position: absolute;
    left: 5%;
    top: 5%;
    font-family: Papyrus;
}

#timezonesec{
    position: absolute;
    right: 5%;
    bottom: 5%;
    font-family: Papyrus;
}

#tempwindow{
    font-family: Papyrus;
}